@charset "utf-8";
body {
    height: 100vh;
    border-top: solid 8px #6CC6C4;
}
div#wrapper {
    height: 100vh;
    width: 920px;
    margin: 0 auto;
}
header {
    height: 170px;
    padding-top: 20px;
    padding-bottom: 20px;
}
div#menu {
    height: 70px;
}
main {
    height: 696px;
}
footer {
    height: 130px;
}
main {
    height: 696px;
    display: flex;
    flex-direction: row-reverse;
}
nav {
    height: 100%;
    width: 30%;
}
article {
    height: 100%;
    width: 70%;
}
.nav {
    height: 30%;
    width: 100%;
    border: solid 2px #6CC6C4;
    border-radius: 10px;
    margin-bottom: 20px;
}
section#image {
    height: 280px;
    padding-left: 20px;
}
section#content {
    height: 450px;
}
#image img {
    width: 100%;
}

/*media query*/
/*ref)*/
/*https://www.seojuku.com/blog/responsive-mediaquery.html*/

/*タブレット 横は	パソコンと同じ*/
/*タブレット 縦のみ	*/
@media screen and (max-width: 1024px) and (orientation: portrait){
    
}
/*タブレット 縦から	*/
@media screen and (max-width: 1024px){
    
}
/*スマホ 横のみ	*/
@media screen and (max-width: 896px) and (orientation: landscape){
    
}
/*スマホ 横から	*/ 
@media screen and (max-width: 896px){
    
}
/*スマホ　縦からは */
@media screen and (max-width: 480px){
    
}